@{
    ViewData["Title"] = "Ürün Kataloğu";
}

<!-- Katalog Section -->
<section id="katalog" class="section catalog-section">
    <div class="container">
        <h2 class="section-title">Ürün Kataloğu</h2>
        <div class="catalog-grid">
            <div class="catalog-item">
                <img src="~/images/sizdirmazlik.png" alt="Sızdırmazlık Ekipmanları">
                <h3>Sızdırmazlık Ekipmanları</h3>
                <p>O-Ring, Conta, Klingerit... </p>
            </div>
            <div class="catalog-item">
                <img src="~/images/salmastra.png" alt="Salmastralar">
                <h3>Salmastralar</h3>
                <p>Mekanik Salmastra, İp Salmastra</p>
            </div>
            <div class="catalog-item">
                <img src="~/images/filtreler.png" alt="Filtreler">
                <h3>Filtreler</h3>
                <p>Yağ filtresi, hava filtresi ve kabini, seperator</p>
            </div>
            <div class="catalog-item">
                <img src="~/images/product1.jpg" alt="Ürün 4">
                <h3>Ürün Adı 4</h3>
                <p>Ürün açıklaması buraya gelecek</p>
            </div>
            <div class="catalog-item">
                <img src="~/images/product1.jpg" alt="Ürün 5">
                <h3>Ürün Adı 5</h3>
                <p>Ürün açıklaması buraya gelecek</p>
            </div>
            <div class="catalog-item">
                <img src="~/images/product1.jpg" alt="Ürün 6">
                <h3>Ürün Adı 6</h3>
                <p>Ürün açıklaması buraya gelecek</p>
            </div>
        </div>
    </div>
</section>
