@{
    ViewData["Title"] = "Yedek Parça";
}

<!-- Katalog Section -->
<section id="katalog" class="section catalog-section">
    <div class="container">
        <h2 class="section-title">Yedek Parça ve Cihaz Temini</h2>

        <div class="catalog-description">
            <p>
                Yerli ve yabancı üretim her marka vakum pompası için orijinal ve uyumlu yedek parça ve bakım kitleri sunuyoruz.
            </p>
            <p>
                Aşınan veya düzenli değişmesi gereken parçalar için uygun kitler, contalar, filtreler ve çeşitli bakım ürünlerini temin ederek pompalarınızın verimli çalışmasına destek oluyoruz.
                
            </p>
            <a href="@Url.Action("Iletisim", "Home")" class="contact-button">
                <i class="material-icons icon">phone_in_talk</i>
                Detaylı bilgi ve talepleriniz için bize ulaşın.
            </a>

        </div>

        <div class="catalog-grid">
            <div class="catalog-item">
                <img src="~/images/cihazlar.png" alt="Vakum Cihazları">
                <h3>Sıfır ve 2. El Vakum Cihazları</h3>
                <p>Her marka yağlı, sulu ve kuru vakum pompaları</p>
            </div>
            <div class="catalog-item">
                <img src="~/images/yeek-parca.png" alt="Vakum Cihazları">
                <h3>Makine Parçaları</h3>
                <p>Gövde, Kapak, Rotor, Çekvalf, Pervane, Kademe Plakası, Bakır Boru ve diğer parçalar  </p>
            </div>
            <div class="catalog-item">
                <img src="~/images/sizdirmazlik.png" alt="Sızdırmazlık Ekipmanları">
                <h3>Yağlı ve Kuru Vakum Sızdırmazlık Ekipmanları</h3>
                <p>O-Ring, Conta, Klingerit, Yağ Keçesi ve diğer elemanlar </p>
            </div>
            <div class="catalog-item">
                <img src="~/images/salmastra.png" alt="Salmastralar">
                <h3>Sulu Vakum Sızdırmazlık Ekipmanları</h3>
                <p>Mekanik Salmastra, İp Salmastra</p>
            </div>
            <div class="catalog-item">
                <img src="~/images/filtreler.png" alt="Filtreler">
                <h3>Filtreler</h3>
                <p>Yağ Filtresi, Seperator, Hava Filtresi ve Kabini</p>
            </div>
            <div class="catalog-item">
                <img src="~/images/paletler.png" alt="Paletler">
                <h3>Paletler</h3>
                <p>Karbon Palet, Fiber Palet </p>
            </div>
            <div class="catalog-item">
                <img src="~/images/oil.jpg" alt="Yağ">
                <h3>Yağlar</h3>
                <p>Hidrolik Yağ, Sentetik Yağ</p>
            </div>
            <div class="catalog-item">
                <img src="~/images/rulmanlar.jpg" alt="Rulmanlar">
                <h3>Rulman Setleri</h3>
                <p>Çeşitli marka, model ve ebatlarda rulmanlar</p>
            </div>
        </div>
    </div>
</section>
